<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PersonaServlet</servlet-name>
  	<display-name>PersonaServlet</display-name>
  	<description>Servlet para administrar una persona</description>
  	<servlet-class>co.edu.cur.practica.servlets.PersonaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormularioServler</servlet-name>
  	<display-name>FormularioServler</display-name>
  	<description></description>
  	<servlet-class>co.edu.cur.practica.servlets.FormularioServler</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PersonaServlet</servlet-name>
  	<url-pattern>/persona</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormularioServler</servlet-name>
  	<url-pattern>/formulario</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
        <welcome-file>jsps/formulario.jsp</welcome-file>
    </welcome-file-list>
</web-app>
